.header {
    ul {
        li.nav-item {
            text-transform: capitalize;
            a.nav-link {
                color: #777777;
                font-size: 14px;
                margin-top: 43;
                padding: 12px 15px;
                &:hover {
                    background-color: $colorPrimary;
                }               
            }
            &:last-child {                
                a.nav-link {
                    background-color: #feb518;
                    border-radius: 0;
                    font-size: 13px;
                    color: black;  
                    width: 150px;              
                    height: 45px;
                    line-height: 45px;
                    text-align: center;
                    display: inline-block;
                    padding: 0;

                    &:hover {
                        background-color: #a57b00;
                    }
                }
            }  
        }               
    }
}