@media (max-width: 576px){
    .topheader {
        height: auto;
    
        .datban {
            border: none;   
            margin: 0;         
            padding: 0;
            width: 100%;
            text-align: center;
        }
        .datban.openingtop {
            display: none;
        }
    }

    .header {
        ul {
            li.nav-item {
                a.nav-link {
                    text-align: center;
                    border-bottom: 1px dashed $colorPrimary;
                    padding: 10px 0;
                    
                    &:last-child {
                        transform: translateY(0);
                        width: 100%;
                    }
                }
            }
        }
    }

    .slide-home {
        .carousel-inner {
            .carousel-item {            
                width: 100%;
                height: 200px;
                
                .textSlide {                    
                    display: none;
                }                
            }
        }
    }

    .service-home {
        margin-top: 60px;

        .title {
            h2 {
                font-size: 32px;  
            }
            p {
                font-size: 22px;
            }
        }
    }

    .menu-home {
        margin-top: 60px;
        
        .menu-option {
            .title-menu {
                height: 300px;
    
                .container {
                    .title-item {
                        .title-text {
                            font-size: 28px;
                        }
                        h3 {
                            font-size: 20px;
                            margin-top: 10px;
                        }
                    }            
                }
            }
        }

        .menu-item {
            .menu-item-title {
                height: 60px; 
                line-height: 60px;  
                margin-top: 0px;     
    
                ul.menu-title-list { 
    
                    li {                    
                        list-style: none;
                        padding: 8px 18px;
                        a {
                            color: black;
                        }
                    }
                }
            }
    
            .menu-item-content {            
                margin-top: 40px;
                
                .one-food{
                    margin-bottom: 20px;
    
                    .row {
                        padding-left: 20px;
                        padding-right: 20px;
    
                        .col-3.col-sm-2 {
                            padding-left: 0;
                            padding-right: 0;
    
                            .food-image {
                                position: relative;  
                                width: 100%;               
            
                                a {
                                    .new-food {
                                        font-size: 8px;
                                        padding: 1px 4px;
                                    }
                                    img {
                                        width: 60px;
                                    }
                                }
                            }
                        }
                        .col-9.col-sm-10 {
                            padding-left: 0px;
                            padding-right: 0px;                            
                            height: 60px;
    
                            .food-content {
                                .food-content-top {              
                                    a {
                                        b {
                                            font-size: 18px;
                                        }                                    
                                    }
                                    span.dot {
                                        display: none;
                                    }
                                    span.price {
                                        font-size: 14px;
                                    }
                                }
                                .food-content-bottom {
                                    font-size: 14px;
                                    margin-top: 0;
                                }
                            }
                        }                    
                    }
                }
            }
        }
    }

    .slide-list-menu {
        margin-top: 60px;
        
        .background-black {
            .col-sm-12 {            
                h4 {        
                    padding-left: 15px;            
                    font-size: 20px;
                }
            }
        
            .carousel.slide {
                margin-left: 15px;
                margin-right: 15px;

                .carousel-indicators {
                    display: none;
                }
                .carousel-inner {
                    .carousel-item {
                        .product {
                            padding: 0 5px;
    
                            .title-product {                                                          
                                font-size: 12px;                
    
                                .name-product {                                    
                                    text-align: center;                                    
                                }
                                span {
                                    float: none;
                                    display: inline-block;                                              
                                    width: 100%;
                                    text-align: center;
                                    margin-top: 10px;
                                }
                            }
                            .description-product {
                                font-size: 9px;
                                text-align: center;                            
                            }
                        }
                    }
                }
            }
        }
    }

    .about-chef-home {
        .info-chef {
            margin-top: 40px;
        }
    }

    .slogan-home {        
        .col-12 {
            span {
                font-size: 28px;
            }
            h4 {            
                font-size: 20px;
                margin-top: 10px;
            }
        }    
    }
}