$fontDefault: 'Roboto Slab', sans-serif;
$fontPrimary: 'Oswald', sans-serif;
$fontSecondary: 'Dancing Script', cursive;
$fontSizeDefault: 12px;

$colorDefault: white;
$colorPrimary: #dddddd;
$backgroundColor: #222222;