/*--------------------------------------------------------------*/
/*------------------------- Top Header ---------------------------*/
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", sans-serif;
}

.topheader {
  background: #222222;
  color: white;
  height: 40px;
  line-height: 40px;
}

.topheader .mangxh a {
  color: #dddddd;
  font-size: 12px;
  padding: 0 13px;
}

.topheader .mangxh a:nth-child(1) {
  padding-left: 0;
}

.topheader .datban {
  border-left: 1px solid #dddddd;
  float: left;
  margin-left: 17px;
  padding-left: 25px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 13px;
  color: #dddddd;
}

.topheader .datban.openingtop {
  border-right: 1px solid #dddddd;
  padding-right: 26px;
}

/*------------------------- Header ---------------------------*/
.header ul li.nav-item {
  text-transform: capitalize;
}

.header ul li.nav-item a.nav-link {
  color: #777777;
  font-size: 14px;
  margin-top: 43;
  padding: 12px 15px;
}

.header ul li.nav-item a.nav-link:hover {
  background-color: #dddddd;
}

.header ul li.nav-item:last-child a.nav-link {
  background-color: #feb518;
  border-radius: 0;
  font-size: 13px;
  color: black;
  width: 150px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  display: inline-block;
  padding: 0;
}

.header ul li.nav-item:last-child a.nav-link:hover {
  background-color: #a57b00;
}

/*------------------------- Slide ---------------------------*/
.slide-home .carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.slide-home .carousel-inner .carousel-item {
  width: 100%;
  height: 600px;
}

.slide-home .carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide-home .carousel-inner .carousel-item .textSlide {
  color: white;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.slide-home .carousel-inner .carousel-item .textSlide h2 {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
}

.slide-home .carousel-inner .carousel-item .textSlide p {
  font-family: "Roboto Slab", sans-serif;
  font-size: 16px;
  width: 900px;
  padding: 15px 0;
}

.slide-home .carousel-inner .carousel-item .textSlide a.buttonSlide {
  display: none;
  font-family: "Roboto Slab", sans-serif;
  font-size: 14px;
  width: 165px;
  height: 50px;
  color: black;
  text-align: center;
  line-height: 50px;
  padding: 0;
  border-radius: 0;
}

.slide-home .carousel-inner .carousel-item .textSlide.iconSlide {
  top: 50%;
  left: 12%;
  text-align: left;
  -webkit-transform: translateX(0) translateY(-50%);
          transform: translateX(0) translateY(-50%);
}

.slide-home .carousel-inner .carousel-item .textSlide.iconSlide img {
  width: 20%;
}

/*------------------------- Service ---------------------------*/
.service-home {
  font-family: "Roboto Slab", sans-serif;
  text-align: center;
  margin-top: 110px;
}

.service-home .title {
  margin: auto;
  margin-bottom: 30px;
}

.service-home .title h2 {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 38px;
  color: #feb518;
}

.service-home .title p {
  font-weight: 700;
  font-size: 26px;
  color: #333333;
}

.service-home .card-deck .card {
  border: none;
}

.service-home .card-deck .card img.card-img-top {
  width: 45%;
  margin: auto;
}

.service-home .card-deck .card .card-body a {
  text-decoration: none;
  cursor: pointer;
}

.service-home .card-deck .card .card-body a h4.card-title {
  color: #333333;
  font-size: 22px;
  margin-top: 5px;
}

.service-home .card-deck .card .card-body p.card-text {
  color: #777777;
  font-size: 14px;
  margin-top: 12px;
}

.service-home .card-deck .card .card-body a.read-more {
  font-size: 14px;
  color: #feb518;
  text-decoration: none;
  cursor: pointer;
  margin-top: 16px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.service-home .card-deck .card .card-body a.read-more:hover {
  color: #333333;
}

/*------------------------- Menu Home ---------------------------*/
.menu-home {
  margin-top: 110px;
  position: relative;
}

.menu-home .menu-option {
  position: relative;
  color: white;
  background-image: url(../images/background-menu-hone.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.menu-home .menu-option:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(13, 13, 13, 0.5);
  z-index: 1000;
}

.menu-home .menu-option .title-menu {
  display: table;
  margin: auto;
  height: 550px;
  position: relative;
  z-index: 1010;
}

.menu-home .menu-option .title-menu .container {
  display: table-cell;
  vertical-align: middle;
}

.menu-home .menu-option .title-menu .container .title-item {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  max-width: 100%;
}

.menu-home .menu-option .title-menu .container .title-item .title-text {
  font-family: "Dancing Script", cursive;
  font-size: 38px;
  color: #feb518;
}

.menu-home .menu-option .title-menu .container .title-item h3 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 36px;
  color: white;
}

.menu-home .menu-item {
  position: relative;
  z-index: 1030;
}

.menu-home .menu-item .menu-item-title {
  height: 80px;
  line-height: 80px;
  margin-top: -90px;
}

.menu-home .menu-item .menu-item-title ul.menu-title-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: auto;
}

.menu-home .menu-item .menu-item-title ul.menu-title-list li {
  list-style: none;
  padding: 10px 20px;
}

.menu-home .menu-item .menu-item-title ul.menu-title-list li a {
  text-decoration: none;
  color: white;
}

.menu-home .menu-item .menu-item-title ul.menu-title-list li.active a {
  color: #feb518;
}

.menu-home .menu-item .menu-item-content {
  position: relative;
  margin-top: 100px;
}

.menu-home .menu-item .menu-item-content .one-food {
  width: 100%;
  margin-bottom: 20px;
}

.menu-home .menu-item .menu-item-content .one-food .row {
  padding-right: 15px;
}

.menu-home .menu-item .menu-item-content .one-food .row .col-3.col-sm-2 {
  padding-left: 0;
  padding-right: 0;
}

.menu-home .menu-item .menu-item-content .one-food .row .col-3.col-sm-2 .food-image {
  position: relative;
  width: 100%;
}

.menu-home .menu-item .menu-item-content .one-food .row .col-3.col-sm-2 .food-image a {
  text-decoration: none;
  cursor: pointer;
}

.menu-home .menu-item .menu-item-content .one-food .row .col-3.col-sm-2 .food-image a .new-food {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto Slab", sans-serif;
  font-size: 11px;
  color: black;
  background-color: #feb518;
  padding: 2px 7px;
}

.menu-home .menu-item .menu-item-content .one-food .row .col-3.col-sm-2 .food-image a img {
  width: 100%;
  background-size: cover;
}

.menu-home .menu-item .menu-item-content .one-food .row .col-9.col-sm-10 {
  padding-left: 18;
  padding-right: 18;
  display: table;
  height: 90px;
}

.menu-home .menu-item .menu-item-content .one-food .row .col-9.col-sm-10 .food-content {
  display: table-cell;
  vertical-align: middle;
}

.menu-home .menu-item .menu-item-content .one-food .row .col-9.col-sm-10 .food-content .food-content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-home .menu-item .menu-item-content .one-food .row .col-9.col-sm-10 .food-content .food-content-top a {
  text-decoration: none;
  cursor: pointer;
}

.menu-home .menu-item .menu-item-content .one-food .row .col-9.col-sm-10 .food-content .food-content-top a b {
  color: #333333;
  font-size: 15px;
  font-weight: 400;
}

.menu-home .menu-item .menu-item-content .one-food .row .col-9.col-sm-10 .food-content .food-content-top span.dot {
  color: #999999;
  font-size: 14px;
}

.menu-home .menu-item .menu-item-content .one-food .row .col-9.col-sm-10 .food-content .food-content-top span.price {
  color: #333333;
  font-size: 15px;
  font-weight: 400;
}

.menu-home .menu-item .menu-item-content .one-food .row .col-9.col-sm-10 .food-content .food-content-bottom {
  color: #aaaaaa;
  font-size: 14px;
  text-align: left;
  margin-top: 6px;
}

/*------------------------- Slide List Menu ---------------------------*/
.slide-list-menu {
  position: relative;
  margin-top: 110px;
  background-image: url(../images/background-slide-menu-hone.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.slide-list-menu .background-black {
  background-color: rgba(0, 0, 0, 0.8);
}

.slide-list-menu .background-black .col-sm-12 h4 {
  color: white;
  font-family: "Roboto Slab", sans-serif;
  font-size: 24px;
  padding: 35px 0;
  margin-left: -15px;
}

.slide-list-menu .background-black .carousel.slide .carousel-indicators {
  display: none;
}

.slide-list-menu .background-black .carousel.slide .carousel-inner .carousel-item .product {
  font-family: "Roboto Slab", sans-serif;
  font-weight: normal;
  width: 20%;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 7px;
}

.slide-list-menu .background-black .carousel.slide .carousel-inner .carousel-item .product img {
  width: 100%;
}

.slide-list-menu .background-black .carousel.slide .carousel-inner .carousel-item .product .title-product {
  font-size: 16px;
  margin: 0;
  padding-top: 10px;
  color: white;
}

.slide-list-menu .background-black .carousel.slide .carousel-inner .carousel-item .product .title-product .name-product {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.slide-list-menu .background-black .carousel.slide .carousel-inner .carousel-item .product .title-product span {
  float: right;
}

.slide-list-menu .background-black .carousel.slide .carousel-inner .carousel-item .product .description-product {
  font-size: 13px;
  color: #777777;
  padding-top: 10px;
  margin-bottom: 68px;
}

.slide-list-menu .background-black .carousel.slide .carousel-control-prev {
  position: absolute;
  top: -70px;
  right: 40px;
  left: auto;
  margin: 0;
  padding: 0;
  width: 34px;
  height: 34px;
  line-height: 34px;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.slide-list-menu .background-black .carousel.slide .carousel-control-prev .carousel-control-prev-icon {
  width: 12px;
  height: 12px;
}

.slide-list-menu .background-black .carousel.slide .carousel-control-prev:hover {
  background-color: rgba(254, 181, 24, 0.3);
}

.slide-list-menu .background-black .carousel.slide .carousel-control-next {
  position: absolute;
  top: -70px;
  right: 0;
  margin: 0;
  padding: 0;
  width: 34px;
  height: 34px;
  line-height: 34px;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.slide-list-menu .background-black .carousel.slide .carousel-control-next .carousel-control-next-icon {
  width: 12px;
  height: 12px;
}

.slide-list-menu .background-black .carousel.slide .carousel-control-next:hover {
  background-color: rgba(254, 181, 24, 0.3);
}

/*------------------------- About Chef Home ---------------------------*/
.about-chef-home {
  background-image: url(../images/background-about-chef.png);
  position: relative;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  padding-top: 35px;
}

.about-chef-home img {
  max-width: 100%;
  position: relative;
  height: auto;
  display: block;
}

.about-chef-home .info-chef {
  font-family: "Roboto Slab", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #777777;
  margin-top: 230px;
}

.about-chef-home .info-chef .info-chef-title {
  margin-bottom: 15px;
}

.about-chef-home .info-chef .info-chef-title h2.title-chef {
  font-size: 30px;
  font-weight: 400;
  color: #333333;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.about-chef-home .info-chef .info-chef-title span.caption-chef {
  font-family: "Dancing Script", cursive;
  font-size: 31px;
  font-weight: 700;
  color: #feb518;
  text-transform: capitalize;
  padding: 0;
}

.about-chef-home .info-chef p.description-chef {
  margin: 0;
  padding: 0;
}

.about-chef-home .info-chef ul.social-icon-chef {
  margin-top: 35px;
}

.about-chef-home .info-chef ul.social-icon-chef li {
  list-style: none;
  display: inline-block;
  margin-right: 8px;
  position: relative;
}

.about-chef-home .info-chef ul.social-icon-chef li a {
  text-decoration: none;
  position: relative;
  font-size: 14px;
  color: white;
  display: inline-block;
  width: 38px;
  height: 38px;
  line-height: 36px;
  text-align: center;
  border-radius: 2px;
  background-color: #333333;
}

/*------------------------- Slogan ---------------------------*/
.slogan-home {
  position: relative;
  width: 100%;
  background-image: url(../images/background-slogan-home.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 222px 0;
}

.slogan-home:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(13, 13, 13, 0.5);
}

.slogan-home .col-12 {
  position: relative;
  z-index: 1010;
  text-align: center;
}

.slogan-home .col-12 span {
  font-family: "Dancing Script", cursive;
  font-size: 38px;
  color: #feb518;
}

.slogan-home .col-12 h4 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 36px;
  color: white;
}

/*------------------------- Responsive ---------------------------*/
@media (max-width: 576px) {
  .topheader {
    height: auto;
  }
  .topheader .datban {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .topheader .datban.openingtop {
    display: none;
  }
  .header ul li.nav-item a.nav-link {
    text-align: center;
    border-bottom: 1px dashed #dddddd;
    padding: 10px 0;
  }
  .header ul li.nav-item a.nav-link:last-child {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    width: 100%;
  }
  .slide-home .carousel-inner .carousel-item {
    width: 100%;
    height: 200px;
  }
  .slide-home .carousel-inner .carousel-item .textSlide {
    display: none;
  }
  .service-home {
    margin-top: 60px;
  }
  .service-home .title h2 {
    font-size: 32px;
  }
  .service-home .title p {
    font-size: 22px;
  }
  .menu-home {
    margin-top: 60px;
  }
  .menu-home .menu-option .title-menu {
    height: 300px;
  }
  .menu-home .menu-option .title-menu .container .title-item .title-text {
    font-size: 28px;
  }
  .menu-home .menu-option .title-menu .container .title-item h3 {
    font-size: 20px;
    margin-top: 10px;
  }
  .menu-home .menu-item .menu-item-title {
    height: 60px;
    line-height: 60px;
    margin-top: 0px;
  }
  .menu-home .menu-item .menu-item-title ul.menu-title-list li {
    list-style: none;
    padding: 8px 18px;
  }
  .menu-home .menu-item .menu-item-title ul.menu-title-list li a {
    color: black;
  }
  .menu-home .menu-item .menu-item-content {
    margin-top: 40px;
  }
  .menu-home .menu-item .menu-item-content .one-food {
    margin-bottom: 20px;
  }
  .menu-home .menu-item .menu-item-content .one-food .row {
    padding-left: 20px;
    padding-right: 20px;
  }
  .menu-home .menu-item .menu-item-content .one-food .row .col-3.col-sm-2 {
    padding-left: 0;
    padding-right: 0;
  }
  .menu-home .menu-item .menu-item-content .one-food .row .col-3.col-sm-2 .food-image {
    position: relative;
    width: 100%;
  }
  .menu-home .menu-item .menu-item-content .one-food .row .col-3.col-sm-2 .food-image a .new-food {
    font-size: 8px;
    padding: 1px 4px;
  }
  .menu-home .menu-item .menu-item-content .one-food .row .col-3.col-sm-2 .food-image a img {
    width: 60px;
  }
  .menu-home .menu-item .menu-item-content .one-food .row .col-9.col-sm-10 {
    padding-left: 0px;
    padding-right: 0px;
    height: 60px;
  }
  .menu-home .menu-item .menu-item-content .one-food .row .col-9.col-sm-10 .food-content .food-content-top a b {
    font-size: 18px;
  }
  .menu-home .menu-item .menu-item-content .one-food .row .col-9.col-sm-10 .food-content .food-content-top span.dot {
    display: none;
  }
  .menu-home .menu-item .menu-item-content .one-food .row .col-9.col-sm-10 .food-content .food-content-top span.price {
    font-size: 14px;
  }
  .menu-home .menu-item .menu-item-content .one-food .row .col-9.col-sm-10 .food-content .food-content-bottom {
    font-size: 14px;
    margin-top: 0;
  }
  .slide-list-menu {
    margin-top: 60px;
  }
  .slide-list-menu .background-black .col-sm-12 h4 {
    padding-left: 15px;
    font-size: 20px;
  }
  .slide-list-menu .background-black .carousel.slide {
    margin-left: 15px;
    margin-right: 15px;
  }
  .slide-list-menu .background-black .carousel.slide .carousel-indicators {
    display: none;
  }
  .slide-list-menu .background-black .carousel.slide .carousel-inner .carousel-item .product {
    padding: 0 5px;
  }
  .slide-list-menu .background-black .carousel.slide .carousel-inner .carousel-item .product .title-product {
    font-size: 12px;
  }
  .slide-list-menu .background-black .carousel.slide .carousel-inner .carousel-item .product .title-product .name-product {
    text-align: center;
  }
  .slide-list-menu .background-black .carousel.slide .carousel-inner .carousel-item .product .title-product span {
    float: none;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  .slide-list-menu .background-black .carousel.slide .carousel-inner .carousel-item .product .description-product {
    font-size: 9px;
    text-align: center;
  }
  .about-chef-home .info-chef {
    margin-top: 40px;
  }
  .slogan-home .col-12 span {
    font-size: 28px;
  }
  .slogan-home .col-12 h4 {
    font-size: 20px;
    margin-top: 10px;
  }
}
/*# sourceMappingURL=custom.css.map */